

h1 {
    color: blue;
    font-size: 50pt;
    font-family: IBM Plex Mono;
    font-style: Italic;
    font-weight: 200;
}

h2 {
    font-family: IBM Plex Mono;
    font-style: Italic;
    font-weight: 200;
    font-size: 24pt;
}

p, li {
    font-family: IBM Plex Mono;
    font-style: Italic;
    font-weight: 200;
    padding-bottom: 10px;
    padding-top: 10px;


}

img{
    max-width: 50%;
    border-style: solid;
    border-radius: 10px;
    border-color: blue;
}

#smallFriend{
    width: 24pt;
    border-style: none;
    border-radius: 0px;


}